@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #149ddd;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #149ddd;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #2eafec;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header Navigation
--------------------------------------------------------------*/
 #header {
  background: rgba(0, 0, 0, 0.0);
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  transition: 1s background-color linear;
  padding: 15px;
  text-align: right;
  font-weight: 400;
}

/*----scroll-transition effect-----*/
#header.scrolled {
  background: rgba(0, 0, 0, 0.7) !important; 
}
#header .nav-menu ul, li, input {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 0px 20px;
  margin-bottom: 1px;
}

#header .nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;

}


#header .nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

#header .nav-links ul li:hover::after{
  width: 100%;
}


@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg-oddy-1.jpg") top center;
  background-size: cover;
  padding-top: 170px;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

#hero .hero-container img {
  margin: 15px auto;
  display: block;
  width: 200px;
  border: 8px solid #2c2f3f;
  transition: 1s;
}

#hero .hero-container img:hover {
  border: 8px solid #1492d1;
  transform: scale(1.15); 
}

#hero .hero-container h1 a{
  font-size: 50px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#hero .hero-container h1 a:hover {
  color: #149ddd;
  text-decoration: none;
}


#hero .hero-container .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#hero .hero-container .social-links a:hover {
  transform: scale(1.2); 
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
  transition: .5s;
}

.section-title h2:hover::after{
  width: 100%;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #37b3ed;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*#contact {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #227;
  color: #ffff;
  margin: auto;
}

.hero-btn a{
  position: fixed;
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  color: #ffff;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  padding: 12px 34px;
  font-size: 30px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  transition: .5s;
}

.hero-btn a:hover {
  transform: scale(1.1); 
  border: 2px solid #fff;
  background: #1492D1;
  transition: 0.5s;
}

#contact p {
  color: #ffff;
  font-size: 18px;
  text-align: center;
  padding: 0 100px 0 100px;

}

#contact .icons a{
  color: #fff;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0px;
  font-size: 30px;
  transition: .5s;
}

#contact .icons a:hover{
  color: #1492D1;

}
#contact .copyright {
  margin: 0;
  font-size: 13px;
  text-align: center;
  padding: 0;
  bottom: 0;
}*/

/*-----------v.1 Footer------------*/
#contact {
  padding-top: 10px;
  background-color: #D5E0EB;
  line-height: 15px;
  color: #ffff;
}

#contact .footer-art {
  background-color: rgba(0, 0, 0, 1.0);
  padding: 10px;
  padding-top: 20px;
  clip-path: polygon(0% 10%, 30% 0%, 100% 10%, 100% 100%, 0% 100%);
  margin-bottom: -6%;
}

#contact .footer-content {
  max-width: 1200px;
  height: 300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

}


#contact .footer-content a {
  display: inline-block;
  padding-block:  5px;
  color: #ffff;
  opacity: .6;
  padding-right: 25px;
  position: relative;
  transition: .2s;
}

#contact .footer-content a:hover {
  opacity: 1;
  color: #fff;
  font-size: 17px;
  font-family: 'Lato',cursive;
  border: 1px solid #ffff;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
}

#contact .subscribe {
  text-align: right;
}

#contact .subscribe h4 {
  margin-right: 30px;
}

#contact input {
  border-style: solid;
  line-height: 24px;
  padding: 12px 20px;
  width: 70%;
  font-size: 1rem;
  margin-block: 8px;
  border-radius: 8px;
  border-width: 2px;
  margin-right: 30px;
}

#contact input[type='email'] {
  background-color: transparent;
  border-color: black;
  color: ffff;
}

#contact input[type='email']:hover,
#contact input[type='email']:focus {
  border-color: #fff;
  color: #ffff;
}

#contact input[type='submit'] {
  background-color: #ffff;
  color:black;
  text-transform: uppercase;
  border: none;
  transition: .5s;
  font-weight: 600;
}

#contact input[type='submit']:hover {
  transform: scale(1.03);
} 

/*------Copy right-------*/
.owner {
  border-top: 3px solid #ffff;
  background-color: black;
  text-align: center;
  padding: 5px 15px;
  height: 35px;
}

.owner p, a{
  color: #ffff; 
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 0px 15px;
  }
}
/*--------------------------------------------------------------
# END Footer
--------------------------------------------------------------*/
